[build]
  command = "cd backend && npm install"
  publish = "frontend"
  functions = "backend"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
